@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Montserrat:ital,wght@0,700;1,700&family=Open+Sans&display=swap');

*,
*:after,
*:before {
    box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-family: 'Bacasime Antique', serif;
  background-color: #f2f5f7;
  line-height: 1.5;
  overflow: hidden;
  padding-bottom: 100px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.section {
	position: relative;
	height: 100vh;
	overflow: hidden;
	padding: 1em;
	cursor: default;
} 

/*---------------------------------------
/* NAVBAR
/*---------------------------------------*/
.header {
  background:#f2f5f7;
  box-shadow:0 2px 5px rgba(0,0,0,0.2);
  padding: 15px 20px;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:9;
}

button {
  background:transparent;
  border:none;
  width:45px;
  height:45px;
  cursor:pointer; 
  outline:0;
}

.toggle span {
  width:100%;
  height:4px;
  background:#555;
  display:block;
  position:relative;
  coursor:pointer;
}

.toggle span:before,
.toggle span:after {
  content:'';
  position:absolute;
  left:0;
  width:100%;
  height:100%;
  background:#555;
  transition: all 0.3s ease-out;
}

.toggle span:before {
  top:-8px;
}

.toggle span:after {
  top:8px;
}

.toggle span.toggle {
  background:transparent;
}

.toggle span.toggle:before {
  top:0;
  transform:rotate(-45deg);
  background:black;
  
}

.toggle span.toggle:after {
  top:0;
  transform:rotate(45deg);
  background:black;
}

.sidebar {
  background:#f2f5f7;
  width:235px;
  position:fixed;
  top:0;
  left:-235px;
  height:100%;
  box-shadow:0 2px 8px rgba(0,0,0,0.2);
  padding-top:120px;
  transition:all 0.3s ease-out;
  z-index:2;
}

.sidebar ul {
  list-style:none;
}

.sidebar ul li {
  display:block;
}

.sidebar ul li a {
  margin-bottom: 32px;
  font-size:28px;
  color:#222;
  text-decoration:none;
  display:block;
  position:relative;
  z-index:1;
  transition:all 0.3s ease-out;
  font-weight:500;
}

.sidebar ul li a:before {
  content:'';
  position:absolute;
  bottom:0;
  left:50%;
  right:50%;
  transform:translate(-50%,-50%);
  width:0;
  height:1px;
  background:black;
  z-index:-1;
  transition:all 0.3s ease-out;
}

.sidebar ul li a:hover:before {
  width:100%;
}

.sidebar ul li a:hover {
  color:black;
}
.sidebar ul li a i {
  font-size: 32px;
  margin-right: 15px;
}

.sidebarshow {
  left:0;
}


/*---------------------------------------
/* HOME
/*---------------------------------------*/
.intro{
  padding-top:100px;
  padding-bottom: 150px;
}
.avatar {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.avatar>img{
  height: 200px;
  border-radius: 50%;
}
.name-title-social{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.name{
  font-weight: bold;
  margin-bottom: -2px;
}
.title{
  font-size: 21px;
}
.social-icons{
  padding-top: 10px;
  padding-bottom: 10px;
}
.social-icons>a{
  color: #000;
  text-decoration: none;
}
.bio{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.what-i-do{
  max-width: 500px; 
  text-align: center;
}
/*---------------------------------------
/* ABOUT
/*---------------------------------------*/
#about-section {
  display: flex;
  align-items: center;
}
#about-image {
  width: 1000px;
  height: 900px;
  shape-outside: url(../img/about.png);
  float: left;
  margin-right: 20px;
}
#about-text {
  shape-margin: 20px;
  display: flex;
  flex-direction: column;
}
/*---------------------------------------
/* PROJECTS
/*---------------------------------------*/
.row{
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 30px;
}
.card {
  margin: 25px;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 45%;
  height: 600px;
}
.card-header img {
  width: 100%;
}
.card-body {
  justify-content: center;
  min-height: 250px;
}
.card-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
}
.card-footer a{
  color: #000;
  text-decoration: none;
}
.card-body p {
  margin: 0 0 0px;
}
.card-body a {
  color: #000;
  text-decoration: none;
  padding-bottom: 10px;
}
.project-title{
  padding-top: 10px;
  padding-bottom: 10px;
}
.project-description{
  padding-top: 10px;
  padding-bottom: 10px;
}
.pagination {
  margin-top: 20px;
  text-align: center;
}
.page-link {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.page-link.active {
  background-color: #333;
  color: #fff;
}
/*---------------------------------------
/*      CONTACT
/*---------------------------------------*/
#contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contact-wrapper {
  text-align: center;
}
.contact-list {
  list-style-type: none;
  margin-bottom: 20px;
}
.contact-list-item {
  display: flex;
  align-items: center;
  line-height: 4;
  color: #000;
  margin-bottom: 20px;
  margin-left: -40px;
  font-size: 16px;
}
.contact-text {
  color: #000;
  font-size: 25px;
}
.place {
  margin-left: 32px;
}
.phone {
  margin-left: 26px;
}
.gmail {
  margin-left: 26px;
}
.contact-text a {
  color: #000;
  text-decoration: none;
  transition-duration: 0.2s;
}
.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}
.social-media-list {
  font-size: 32px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.social-media-list li a {
  color: #000;
}
.social-media-list li {
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 20px 20px 20px 0;
  line-height: 60px;
  border-radius: 50%;
  color: #000;
  background-color: #fff;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #000;
}
.social-media-list li:hover a {
  color: #fff;
}
hr {
  border-color: #000;
}
@media screen and (max-width: 600px) {
  .contact-text {
    font-size: 20px;
  }
  
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 24px;
  }
  
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

/* Styles for devices with a maximum width of 768px*/
@media screen and (max-width: 768px) {
  body {
    font-size: 20px;
  }
  .header {
    padding: 10px 15px;
  }
  .toggle span,
  .toggle span:before,
  .toggle span:after {
    background: #fff;
  }
  .sidebar {
    padding-top: 70px;
    width: 200px;
    left: -200px;
  }
  .sidebar ul li a {
    font-size: 20px;
  }
  .intro {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .avatar > img {
    height: 150px;
  }
  .name-title-social {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .name {
    margin-bottom: 0;
  }
  .title {
    font-size: 18px;
  }
  .bio {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .what-i-do {
    max-width: 400px;
  }
  #about-image {
    max-width: 100%;
    height: auto;
    shape-outside: none;
    float: none;
    margin-right: 0;
  }
  #about-text {
    shape-margin: 0;
    margin-top: 20px;
  }
  .row {
    flex-wrap: wrap;
  }
  .card {
    width: 90%;
    height: auto;
  }
}

/* Styles for devices with a maximum width of 480px*/
@media screen and (max-width: 480px) {
  body {
    font-size: 16px;
  }
  .header {
    padding: 5px 10px;
  }
  .toggle span {
    width: 80%;
  }
  .sidebar {
    width: 180px;
    padding-top: 50px;
  }
  .sidebar ul li a {
    font-size: 16px;
  }
  .intro {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .avatar > img {
    height: 120px;
  }
  .name {
    font-size: 24px;
  }
  .title {
    font-size: 16px;
  }
  .social-icons {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .what-i-do {
    max-width: 300px;
  }
  #about-image {
    max-width: 100%;
    height: auto;
    shape-outside: none;
    float: none;
    margin-right: 0;
  }
  .card {
    width: 100%;
    height: auto;
  }
}

