<div class="card" data-state="#about">
    <div class="card-header">
      <img class="card-avatar" src="/assets/images/profile.png" alt="avatar" />
      <h1 class="card-fullname">A. Rabetokotany</h1>
      <h2 class="card-jobtitle">ML/AI Engineer</h2>
      <div class="card-social">
        {% for medium in site.data.media %}
            <a href="{{ medium.link }}" target="_blank">
                <i class="fa {{ medium.icon }} fa-fw card-social-links"></i>
            </a>
        {% endfor %}
      </div>
    </div>
    <div class="card-main">
      <div class="card-section is-active" id="about">
        <div class="card-content">
          <div class="card-subtitle">ABOUT</div>
          <p class="card-desc">
            I use data and machine learning techniques to solve business challenges. 
            I find joy in expanding my knowledge through continuous learning.
          </p>
        </div>
      </div>
      <div class="card-section" id="experience">
        <div class="card-content">
          <div class="card-subtitle">WORK EXPERIENCE</div>
          <div class="card-timeline">
            {%for experience in site.data.experiences %}
                <div class="card-item" data-year="{{ experience.year }}">
                    <div class="card-item-title">{{ experience.title }} at <span>{{ experience.company }}</span></div>
                    <div class="card-item-desc">{{ experience.description }}</div>
                </div>
            {% endfor %} 
          </div>
        </div>
      </div>
      <div class="card-section" id="contact">
        <div class="card-content">
          <div class="card-subtitle">CONTACT</div>
          <div class="card-contact-wrapper">
            {% assign contacts = site.data.contacts %}
            {% for contact in contacts %}
              <div class="card-contact">
                {% include contact_icon.html icon=contact.icon %}
                {{ contact.text }}
              </div>
            {% endfor %}
            <a href="mailto:marolahyrabe@gmail.com">
              <button class="contact-me">WORK TOGETHER</button>
            </a>
          </div>
        </div>
      </div>
      <div class="card-buttons">
        <button data-section="#about" class="is-active">ABOUT</button>
        <button data-section="#experience">EXPERIENCE</button>
        <button data-section="#contact">CONTACT</button>
      </div>
    </div>
  </div>
