<div class="left-section">
      <img class="profile-pic" src="/assets/images/profile.jpg" alt="">
    <p class="name">
        Andriamarolahy Rabetokotany
    </p>
    <p class="title">
        Data Scientist | AI/ML Engineer 
    </p>
    <p class="location">
        Based in Antananarivo, MG
    </p>
    <div class="contacts">
        <a href="https://www.linkedin.com/in/andriamarolahy-rabetokotany-a84986143/" class="social-links" target="_blank">
            <i class="fa fa-linkedin fa-fw"></i>
        </a>
        <a href="https://github.com/marolAI/" class="social-links" target="_blank">
            <i class="fa fa-github fa-fw"></i>
        </a>
        <a href="https://twitter.com/Massa_Be/" class="social-links" target="_blank">
            <i class="fa fa-twitter fa-fw"></i>
        </a>
        <a href="https://stackoverflow.com/users/9560986/r-marolahy/" class="social-links" target="_blank">
            <i class="fa fa-stack-overflow fa-fw"></i>
        </a>
    </div>
    <div>
        <p class="section-title">About</p>
        <p class="bio">
            I use data and machine learning techniques to solve business challenges. 
            I find joy in expanding my knowledge through continuous learning.
        </p>
    </div>
    <p class="section-title">Skills</p>
    <button class="skills-tag" data-bcup-haslogintext="no">Python</button>
    <button class="skills-tag" data-bcup-haslogintext="no">SQL</button>
    <button class="skills-tag" data-bcup-haslogintext="no">ML</button>
    <button class="skills-tag" data-bcup-haslogintext="no">AI</button>
    <button class="skills-tag" data-bcup-haslogintext="no">Computer Vision</button>
    <button class="skills-tag" data-bcup-haslogintext="no">NLP</button>
    <p class="copy-right">&copy; created with ❤️ by marolAI</p>
</div>