<section id="footer">
    <div class="main-footer">
      <div class="logoinfo" data-aos="fade-up">
  
        <div class="contact-details">
          <h1>Contact Me</h1>
          <li><i class="fa fa-whatsapp"></i>+261 346171397</li>
          <li><i class="fa fa-envelope"></i>marolayrabe@gmail.com</li>
      </div>
    </div>
    <!-- <div class="com " data-aos="fade-up">
      <h1>About</h1>
      <ul>
        {% for item in site.data.navigation %}
            <li><a href="{{ item.link }}" {% if page.url == item.link %}{% endif %}>{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div> -->
    <div class="info" data-aos="fade-up">
      <h1>Let's Connect</h1>
      <div class="sociallogos">
        <div class="logobox">
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-youtube-play"></a>
        </div>
      </div>
    </div>
    </div>
  <!-- <footer>&copy; created with ❤️ by marolAI</footer> -->
  </section>