<section class="projects-section" id="projects">
  <div class="container">
    <div class="section-title">
      <h2>From Problem to Solution</h2>
      <p>A collection of case studies showing how I use AI to build useful and reliable tools.</p>
    </div>

    <!-- Projects Carousel -->
    <!-- <div class="projects-carousel-header">
      <h3 class="carousel-title">All Projects</h3>
    </div> -->

    <div class="owl-carousel owl-theme projects-carousel">
      {% for project in site.projects %}
      <div class="project-item animate-fade-in" data-categories="{{ project.tags | join: ',' | downcase }}">
        <div class="project-card"
            data-full-description="{{ project.content | strip_html | escape }}"
            data-github-link="{{ project.github_link }}"
            data-demo-link="{{ project.demo_link }}">

          <div class="project-image-container js-modal-trigger">
            <div class="project-image">
              <img src="{{ project.image | relative_url }}" alt="{{ project.title }} preview" loading="lazy">
            </div>
          </div>

          <div class="project-content">
            <div class="project-tags">
              {% for tag in project.tags %}
              <span>{{ tag }}</span>
              {% endfor %}
            </div>
            <h3>{{ project.title }}</h3>
            <p>{{ project.content | strip_html | truncatewords: 30}}</p>
            <div class="project-links">
              <button class="read-more-btn js-modal-trigger">Read More →</button>
            </div>
          </div>
          <div class="project-footer">
            <div class="project-tech">
              {% for tech in project.tech %}
              <span>{{ tech }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="project-process bg-alt">
  <div class="container">
    <div class="section-title">
      <h2>In Their Own Words</h2>
      <p>I'm grateful for the relationships I've built and the trust I've earned along the way.</p>
    </div>

    <div class="testimonial">
      <div class="testimonial-icon">
        <img src="/assets/images/testimonial1.jpeg" class="testimonial-img" alt="testimonial1">
      </div>
      <div class="testimonial-content">
        <blockquote>
        <p><i>"I worked with Andriamarolahy R. for 1.5 years in a part-time capacity as a Junior Software Developer. During this time, he contributed to code implementation and revision in a methodologically complex innovation project, consistently demonstrating reliability and a solid grasp of best software engineering practices. His technical skills, particularly in Python (medical imaging algorithms, ML/AI, data visualization, data analysis, OOP), were at a mid-level when he joined, and he showed clear improvement over time. He was proactive in asking questions whenever clarification was needed, and he was always motivated and eager to learn. With his excellent work ethic and kind personality, he brought well-appreciated contributions to the project and team. I definitely recommend working with him."</i></p>
        <p><b>Fabian B. | PhD</b></p>
        </blockquote>
      </div>
    </div>
    </div>
  </div>
</section>

<!-- <section class="certifications-section bg-alt">
  <div class="container">
    <div class="section-title">
      <h2>A Commitment to Growth</h2>
      <p>I believe the best solutions come from a place of continuous learning and humility. Here are some of the ways I stay curious and sharpen my toolkit.</p>
    </div>
    
    <div class="certifications-grid">
      {% for certificate in site.data.certificates %}
      <div class="certification-item animate-fade-in {{ certificate.animate }}">
        <div class="certification-logo">
          <img src="{{ certificate.issuer_logo }}">
        </div>
        <div class="certification-content">
          <h4>{{ certificate.title }}</h4>
          <p class="certification-issuer">{{ certificate.issuer }}</p>
          <p class="certification-date">Issued: {{ certificate.date }}</p>
          <p>{{ certificate.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section> -->