<div class="card">
    <div class="header">
        <!-- <div class="header-wrapper"> -->
        <img class="avatar" src="/assets/images/profile.png" alt="avatar" />
        <h1 class="fullname">Andriamarolahy Rabetokotany</h1>
        <h2 class="jobtitle">ML/AI Engineer</h2>
        <p class="location"> Based in Antananarivo, MG (remote)</p>
        <div class="social">
            {% for medium in site.data.media %}
            <a href="{{ medium.link }}" target="_blank">
                <i class="fa {{ medium.icon }} fa-fw social-links"></i>
            </a>
            {% endfor %}
        </div>
        <!-- </div> -->
    </div>
    <div class="main">
        <div class="section">
            <div class="content">
                <div class="subtitle">ABOUT</div>
                <p class="about-desc">
                    I use Python, data and Machine Learning techniques to solve business challenges.
                    I find joy in expanding my knowledge through continuous learning.
                </p>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <div class="subtitle">WORK EXPERIENCE</div>
                <div class="experience-timeline">
                    {%for experience in site.data.experiences %}
                    <div class="experience-item" data-year="{{ experience.year }}">
                        <div class="experience-item-title">{{ experience.title }} at <span>{{ experience.company
                                }}</span>
                        </div>
                        <div class="experience-item-desc">{{ experience.description }}</div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="section">
            <div class="content">
                <div class="subtitle">SKILLS</div>
                {% for skill in site.data.skills %}
                <button class="skills-tag" data-bcup-haslogintext="no">{{ skill }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>