.card {
    max-width: 340px;
    margin-left: 230px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background: -webkit-linear-gradient(0deg, #ffffff 0%, #eeeeee 100%);
    background: linear-gradient(0deg, #ffffff 0%, #eeeeee 100%);
    display: flex;
    align-items: left;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.header{
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 230px;
  flex-shrink: 0;
  width: 100%;
  left: 20px
}
.avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  position: relative;
  margin-top: 30px;
}
.fullname {
  position: relative;
  line-height: 0.1;
  font-size: 18px;
  // font-weight: 700;
  white-space: nowrap;
  margin-top: 30px;
}
.jobtitle {
  position: relative;
  line-height: 0.1;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.location{
  position: relative;
  line-height: 0.1;
  font-size: 16px;
  color: #636b6f;
}
.social {
  position: relative;
  display: flex;
}
.social-links {
  color: #636b6f; 
  font-size: 18px;
  display: block;
  transition: 0.3s;

}
.social a {
  color: #8797a1;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  border-radius: 50%;
  margin-right: 10px;
}
.social a:hover {
  svg {
    fill: rgb(130, 150, 180);
  }
}
.social a:last-child {
  margin-right: 0;
}
.skills-tag{
    padding-bottom: 4px; 
    padding-top: 4px;
    border-radius: 9999px;
    font-size: 14px; 
    font-style: italic;
    margin-bottom: 4px;
    background-color: rgba(93, 133, 193, 0.05); 
    color: #636b6f;
    border: none;
}

.main {
  position: relative;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.section {
  display: flex;
  flex-direction: column;
}
.content {
  padding: 10px;
}

.subtitle {
  font-weight: 700;
  font-size: 13px;
}

.about-desc {
  color: #636b6f;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

.experience-timeline {
  margin-top: 10px;
  position: relative;
}

.experience-timeline:after {
  background: linear-gradient(
    to top,
    rgba(239, 239, 240, 1) 0%, 
    rgba(108, 122, 137, 1) 100% 
  );
  content: "";
  left: 42px;
  width: 2px;
  top: 0;
  height: 100%;
  position: absolute;
}
.experience-item {
  position: relative;
  padding-left: 60px;
  padding-right: 20px;
  padding-bottom: 10px;
  z-index: 1;
}
.experience-item:last-child {
  padding-bottom: 5px;
}
.experience-item:after {
  content: attr(data-year);
  width: 10px;
  position: absolute;
  top: 0;
  left: 37px;
  width: 10px;
  height: 10px;
  line-height: 0.6;
  border: 1px solid #fff;
  font-size: 14px;
  text-indent: -35px;
  border-radius: 50%;
  color: rgba(#868686, 0.8);
  background: linear-gradient(
    to bottom,
    #d3d3d3 0%,
    #808080 100%
  );
}
.experience-item-title {
  font-weight: 500;
  font-size: 16px;
}

.experience-item-desc {
  font-size: 16px;
  color: #6f6f7b;
}