
/*======================================================
                   Blogs
  ======================================================*/
/* blogs-list */
.blogs-list-container{
    width: 100%;
    display: flex;
    margin-top: 100px;
}

.blogs-list-entries{ 
  max-width: 80%; 
  margin-top: 16px;
} 

.blogs-list-entry  {  
  display: flex; 
  flex-direction: column; 
  margin-bottom: 32px;
}

.blogs-list-entry-title { 
  font-weight: bold; 
  font-size: 20px;
}

.blogs-list-entry-title a { 
  text-decoration: none;
} 

.blogs-list-entry-title a:hover { 
  color: rgba(2, 10, 245, 1);
} 

.blogs-list-entry-meta  { 
  margin-bottom: 16px; 
  font-size: 16px;
  margin-top: 0;
} 

.blogs-list-entry-date  { 
  font-style: italic; 
} 

.blogs-list-entry-read-time  { 
  font-style: italic; 
} 

.blogs-list-entry-date + .blogs-list-entry-read-time::before { 
  content: "\2022"; 
  padding: 0 8px;
} 

.blogs-list-entry-content { 
  font-size: 18px;
  line-height: 20px;
} 

.blogs-list-entry-read-more{
  font-size: 16px;
  margin-top: 0;
}

.blogs-list-entry-read-more a{
  text-decoration: none;
}

.blogs-list-entry-read-more a:hover { 
  color: rgba(2, 10, 245, 1);
} 

.blogs-list-entry-divider {
  opacity: 0.5; 
  border-color: #ccc;
}

/* Blog detail     */
.blog-wrapper { 
    display: flex;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 1024px;
  } 

.blog-content {
  width: 70%;
  padding: 32px;
}

.blog-header { 
  display: block;
  padding-bottom: 32px;
}

.blog-title{
  font-size: 24px;
  font-weight: bold;
}
  
.blog-sub-title{
    margin-top: 8px;
}
  
.blog-date{
  font-size: 16px;
  font-style: italic;
}

.blog-read-time{
  font-size: 16px;
  font-style: italic;
}

.blog-date + .blog-read-time::before { 
  content: "\2022"; 
  padding: 0 8px;
} 

.blog-all{
  font-size: 16px;
  font-style: italic;
}

.blog-all a { 
  text-decoration: none;
}

.blog-all a:hover { 
  color: rgba(2, 10, 245, 1);
}

.blog-read-time + .blog-all::before { 
  content: "\2022"; 
  padding: 0 8px;
}

.blog-share { 
  margin-top: 32px; 
  margin-bottom: 32px;
}

.blog-pagination { 
  margin: 32px 0 32px; 
  display: flex;
} 
  
.blog-pagination-label { 
  margin: 0; 
  padding: 0; 
  font-size: 1rem;
} 

.blog-pagination-title { 
  margin: 0; 
  padding: 0; 
  font-family: "Lora",serif; 
  font-size: 0.9rem; 
  font-style: italic;
} 

.blog-previous { 
  display: block; 
  flex: 1; 
  text-decoration: none;
  color: #000;
} 

.blog-next { 
  display: block; 
  flex: 1; 
  text-decoration: none;
  margin-top: 16px;
  color: #000;
  margin-top: 0; 
  text-align: right;
} 

.blog-sidebar { 
  width: 30%;
  padding: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
} 

.blog-author { 
  display: block;
  margin-bottom: 16px;
} 
  
.blog-author:after { 
  content: ""; 
  display: table;
} 

.blog-author img { 
  width: 50px; 
  height: auto; 
  border-radius: 50%;
  margin-right: 0; 
  margin-bottom: 16px; 
  width: 100px; 
  height: auto;
} 

.blog-author-name{
  font-size: 18px;
  font-style: italic;
  margin-bottom: 8px;
}

.blog-author-name a{
  text-decoration: none;
  // color: #000;
}

.blog-author-name a:hover {
  color: rgba(2, 10, 245, 1);
}

.blog-author-links { 
  display: block;
  margin: 0 0 24px; 
  padding: 0; 
  list-style: none;
} 
  
.blog-author-link { 
  display: inline; 
} 
  
.blog-author-link a  { 
  text-decoration: none;
  color: inherit; 
}

.blog-author-link a:hover{
  color: rgba(2, 10, 245, 1);
}
  
.blog-sidebar-section-title { 
  display: inline; 
  padding-right: 8px; 
  font-size: 1rem; 
  font-weight: normal; 
  text-transform: uppercase;
}
.btn { 
  display: inline-block; 
  margin-bottom: 4px; 
  padding: 8px 16px; 
  font-family: "Source Sans Pro",sans-serif; 
  font-size: 1rem; 
  font-weight: bold; 
  text-align: center; 
  text-decoration: none; 
  border-width: 0; 
  border-radius: .25rem; 
  cursor: pointer;
} 

.blog-share-btn--small { 
  font-size: 12px;
} 

.btn--facebook { 
  background-color: #3b5998; 
  color: #fff;
} 

a:active,a:hover { 
  outline-width: 0;
} 

a:hover { 
  color: #272939;
} 

.btn--facebook:hover { 
  background-color: #2f477a; 
  color: #fff;
} 

.btn--twitter { 
  background-color: #55acee; 
  color: #fff;
} 

.btn--twitter:hover { 
  background-color: #448abe; 
  color: #fff;
} 

.btn--linkedin { 
  background-color: #007bb6; 
  color: #fff;
} 

.btn--linkedin:hover { 
  background-color: #006292; 
  color: #fff;
} 

.btn--reddit { 
  background-color: #ff4500; 
  color: #fff;
} 

.btn--reddit:hover { 
  background-color: #cc3700; 
  color: #fff;
} 
  
/* footer   */
#footer { 
  display: block;
} 

.blog-site-footer { 
  margin: 32px 0; 
  padding: 32px 0; 
  text-align: center; 
  border-top: 1px solid;
  border-top-color: #ccc;
} 

.blog-site-footer:after { 
  clear: both; 
  content: ""; 
  display: table;
} 

.blog-social-icons  { 
  margin-bottom: 8px;
} 

.blog-social-icon  { 
  display: inline-block; 
  padding: 0 4px;
  color: #34374C;
} 

.blog-social-icon:hover { 
  color: rgba(2, 10, 245, 1);
  outline-width: 0;
} 

.copyright { 
  font-size: 14px;
  font-style: italic;
  color: #404040;
} 

.copyright p  { 
  margin: 0; 
  padding: 0;
} 

.copyright a  { 
  text-decoration: none;
} 

.copyright a:hover  { 
  color: rgba(2, 10, 245, 1);
} 

