@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  box-sizing: border-box;
}
body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  background-color: #ffffff;
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.container {
  display: flex; 
}

.left-section {
  display: flex; 
  align-items: flex-start;
}
.right-section{
  flex: 1;
  margin-left: 32px;
}
.section-title{
  text-transform: uppercase;
}

footer {
  background: inherit;
  color: #000;
  position: fixed; 
  left: 50%; 
  bottom: 0;
  transform: translateX(-50%); 
  width: 100%;
  text-align: center; 
}

footer img {
  width: 44px;
}