@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500|Jost:400,500,600&display=swap");

* {
  box-sizing: border-box;
}
body {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: radial-gradient(#040403 1.5px, transparent 1.5px), radial-gradient(#040403 1.5px, transparent 1.5px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  background-color: #ffffff;
  min-height: 100vh;
  padding: 20px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    width: 100%; 
  }
